@charset "utf-8";

* {
  font-family: MicrosoftYaHei, "微软雅黑";
}

html, body {
  width: 100%;
}

html, body {
  height: 100%;
}

#fg-app {
  position: relative;
  min-height: 100%;
}
/* 清除浮动 */
.cl:after, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.cl, .clearfix {
  zoom: 1
}

// 省略相关
.sl {
  /* 元素溢出内容  隐藏 */
  overflow: hidden;
  /* 设置文本不折行 */
  white-space: nowrap;
  /* 元素溢出打点 */
  text-overflow: ellipsis;
}

.sl2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sl3 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.sl4 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.sl5 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

a, a:hover, a:visited, a:active {
  text-decoration: none !important;
}

.van-uploader__preview {
  width: 100%;
  height: 100%;
}

@import "master";
