.header {
  width: 100%;
  height: 2.3467rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/header-bg.png);
  background-size: 100% 0.9067rem;
  background-position: center center;
  background-repeat: no-repeat;
  img {
    width: 1.7333rem;
    height: 1.6667rem;
  }
}

#guide-book {
  width: 100%;
  height: calc(100% - 2.3467rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff8f0;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.4267rem 0.64rem;
  box-sizing: border-box;
  .main-head {
    flex: none;
    width: 100%;
    padding-bottom: 0.2133rem;
    display: flex;
    flex-direction: column;
    .head-title {
      width: 2.1rem;
      font-size: 0.48rem;
      font-weight: bold;
      color: #381918;
      position: relative;
    }
  }
  .main-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .info {
      font-size: 0.2667rem;
      font-weight: 400;
      color: #797f7f;
      line-height: 0.5467rem;
    }
    .swiper-block {
      width: 100%;
      margin-top: 0.5333rem;
      position: relative;
      .swiper-slide {
        border-radius: 0.5333rem;
      }
      .swiper-pagination {
        width: 100%;
        .swiper-pagination-bullet {
          width: 0.1067rem;
          height: 0.1067rem;
          background: #381918;
          border-radius: 0.0533rem;
          opacity: unset;
        }
        .swiper-pagination-bullet:not(:first-child) {
          margin-left: 0.1333rem;
        }
        .swiper-pagination-bullet-active {
          width: 0.48rem;
        }
      }
    }
    .visit-matter {
      .visit-item {
        width: 100%;
        height: 100%;
        margin-top: 0.56rem;
        .visit-item-title {
          width: 2.0267rem;
          height: 0.3733rem;
          padding: 0.1067rem 0.24rem;
          margin-bottom: 0.4rem;
          line-height: 0.3733rem;
          border-radius: 0.2667rem;
          text-align: center;
          font-size: 0.32rem;
          font-weight: 400;
          color: #ffffff;
          background-color: #381918;
        }
        .visit-item-content {
          width: 100%;
          box-sizing: border-box;
          font-size: 0.32rem;
          font-weight: 400;
          color: #797f7f;
          line-height: 2;
          span {
            display: inline-block;
          }
        }
        .content-img {
          display: block;
          width: 8.5467rem;
          box-shadow: 0 0.0533rem 0.1333rem 0 rgba(166, 152, 135, 0.5);
          margin: 0.4267rem auto;
        }
        .visit-map-info {
          margin-top: 0.56rem;
          .map-item {
            padding-left: 0.56rem;
            margin-bottom: 0.32rem;
            position: relative;
          }
          .map-item:nth-child(1):after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.2133rem;
            width: 0.36rem;
            height: 0.4267rem;
            background-image: url(../../img/address.png);
            background-size: 0.36rem 0.4267rem;
            background-repeat: no-repeat;
          }
          .map-item:nth-child(2):after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.16rem;
            width: 0.3467rem;
            height: 0.32rem;
            background-image: url(../../img/phone.png);
            background-size: 0.3467rem 0.32rem;
            background-repeat: no-repeat;
          }
          .map-item:nth-child(3):after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.1333rem;
            width: 0.3467rem;
            height: 0.2667rem;
            background-image: url(../../img/email.png);
            background-size: 0.3467rem 0.2667rem;
            background-repeat: no-repeat;
          }
        }

        ul {
          font-size: 0.2667rem;
          font-weight: 400;
          color: #797f7f;
          font-weight: 300;
          color: #381918;
          list-style: unset;
          list-style-type: decimal;
          list-style-position: inside;
        }
        li {
          list-style: unset;
          line-height: 2;
        }
      }
    }
  }

  .indent {
    text-indent: 0.6rem;
  }
  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
}
