#lecture-listen-detail {
  width: 100%;
  height: 100%;
  // position: relative;
}
.head-img {
  width: 100%;
  height: 5.68rem;
  position: relative;
  .head-3d {
    position: absolute;
    right: 0.6133rem;
    top: 3.8667rem;
    width: 1.2667rem;
    height: 1.2667rem;
  }
}
.container {
  position: absolute;
  left: 0;
  top: 5.68rem;
  width: 100%;
  height: calc(100% - 5.68rem);
  background-color: #fff8f0;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.5867rem 0.64rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .detail-head {
    flex: none;
    padding-bottom: 0.72rem;
    .detail-title {
      font-size: 0.3467rem;
      font-weight: 800;
      color: #381918;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .detail-subTitle {
      padding-top: 0.24rem;
      font-size: 0.2133rem;
      font-weight: 400;
      color: rgba(56, 25, 24, 0.7);
    }
  }
  .detail-body {
    width: 100%;
    height: 100%;
    font-size: 0.2667rem;
    font-weight: 400;
    color: #797f7f;
    line-height: 2;
    overflow-y: auto;
    // .detail-body-content {
    //   padding-bottom: 0.48rem;
    // }
   
    .detail-body-attachs {
      margin-top: 0.3733rem;
      .attach-title {
        font-size: 0.3467rem;
        font-weight: 800;
        color: #381918;
        span {
          padding-right: 0.16rem;
        }
        img {
          display: inline-block;
          width: 0.3733rem;
          height: 0.32rem;
        }
      }
      .attach-list {
        padding-top: 0.2667rem;
        .audio {
          width: calc(100% - 0.2rem);
          height: 2.18rem;
          padding: 0.3rem 0.42rem;
          box-sizing: border-box;
          background-color: #fff;
          border-radius: 0.2667rem;
          box-shadow: 0 0.0533rem 0.1333rem 0 rgba(166, 152, 135, 0.5);
          display: flex;
          justify-content: space-between;
          justify-items: center;
          .audio-left {
            display: flex;
            align-items: center;
            position: relative;
            .audio-title {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 0.32rem;
              font-weight: 400;
              color: #381918;
            }
            .audio-time {
              position: absolute;
              bottom: 0;
              font-size: 0.32rem;
              font-weight: 400;
              color: #bb984a;
            }
            .start {
              left: 0;
            }
            .end {
              right: 0;
            }
          }
          .audio-right {
            display: flex;
            align-items: center;
            // position: absolute;
            // right: 0.56rem;
            // top: 50%;
            // margin-top: -0.3733rem;
            width: 1.0133rem;
            // height: 1.0133rem;
            cursor: pointer;
          }

          // input {
          //   position: absolute;
          //   left: 0.56rem;
          //   top: 50%;
          //   margin-top: -0.07rem;
          // }

          input[type="range"] {
            -webkit-appearance: none;
            width: 6.48rem;
            border-radius: 0.07rem;
            height: 0.14rem;
          }

          input[type="range"]::-webkit-slider-runnable-track {
            height: 0.14rem;
            background: rgba(248, 246, 246, 0.8);
            border-radius: 0.07rem;
          }

          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 0.4rem;
            height: 0.4rem;
            background: #3a290f;
            border: 0.05rem solid #8b693a;
            margin-top: -0.15rem;
            border-radius: 50%;
          }
        }
        .audio:not(:first-child) {
          margin-top: 0.2667rem;
        }
        .video {
          margin-bottom: 0.2667rem;
          .video-cover {
            // width: 2.9067rem;
            // height: 3.3333rem;
            width: 2.64rem;
            height: 3.08rem;
            border-radius: 0.4rem;
            box-sizing: border-box;
            overflow: hidden;
            box-shadow: 0px 0.0533rem 0.1333rem 0px rgba(166, 152, 135, 0.5);
            position: relative;
            img {
              height: 100%;
            }
            .cover-mask {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(56, 25, 24, 0.5);
            }
            .video-cover-tag {
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -0.5467rem;
              margin-top: -0.44rem;
              width: 1.0933rem;
              height: 0.88rem;
              z-index: 2;
            }
           
          }
          .video-title {
            padding-top: 0.16rem;
            width: 2.64rem;
            font-size: 0.2667rem;
            font-weight: 400;
            color: #381918;
            line-height: 0.3733rem;
            display: -webkit-box;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
        .video:not(:nth-child(3n)) {
          margin-right: 0.3733rem;
        }
      }
      .audio-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .video-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
    .content-end {
      margin-top: 0.48rem;
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
}

.van-overlay {
  z-index: 3;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .wrapper-inner {
    width: 8rem;
    height: 4.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    .wrapper-head {
      flex: none;
      width: 100%;
      padding: 0.12rem 0.26rem;
      box-sizing: border-box;
      background-color: #fff8f0;
      position: relative;
      .wrapper-head-title {
        font-size: 0.32rem;
        width: 70%;
        color: rgb(56, 25, 24);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .wrapper-close {
        position: absolute;
        right: 0.26rem;
        top: 50%;
        margin-top: -0.24rem;
        width: 0.48rem;
        height: 0.48rem;
      }
    }
    .wrapper-body {
      width: 100%;
      height: 100%;
      video {
        width: 8rem;
      }
    }
  }
}
