html, body {
    /*background: #F4F4F4 !important;*/
}

#fg-app {
    height: 100vh;
    overflow: auto;
}
.search-title {
    padding-top: .2rem;
    padding-bottom: .06rem;
    font-size: .12rem;
    color: #999999;
    line-height: .16rem;
}
.search-header {
    position: relative;
}
.search-header .search-item {
    box-sizing: border-box;
    height: .6rem;
    background: #F5F5F5;
    padding: .1rem;
}
.search-item-col {
    float: left;
    margin-right: .1rem;
    box-sizing: border-box;
}
.search-item-col:nth-child(1) {
    max-width: .85rem;
}
.search-item-col:nth-child(2) {
    max-width: 1.8rem;
}
.search-item-col .label {
    font-size: .12rem;
    color: #999999;
    line-height: .16rem;
}
.search-item-col .value {
    margin-top: .04rem;
    font-size: .14rem;
    font-weight: bold;
    line-height: .19rem;
}
.search-header .edit {
    position: absolute;
    cursor: pointer;
    top: .55rem;
    right: .3rem;
    width: .32rem;
    height: .32rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../img/bj.png");
}

ul.container {
    padding-top: .12rem;
}

ul li {
    width: 3.35rem;
    background: #FFFFFF;
    border-radius: 0.06rem;
    border: 0.01rem solid #D3D3D3;
    margin-bottom: .12rem;
}
ul li:last-child {
    margin-bottom: 0;
}

li.disabled {
    pointer-events: auto !important;
}

li.disabled .item-header {
    background: #BFBFBF;
}

.item-header {
    width: 3.35rem;
    height: 0.44rem;
    background: #CFA972;
    border-radius: 0.06rem 0.06rem 0 0;
    line-height: .44rem;
    padding: 0 12px;
    box-sizing: border-box;
    font-weight: bold;
    color: #FFFFFF;
}

.col {
    float: left;
    margin-right: .12rem;
    font-size: .12rem;
}

.col .label {
    padding-top: .05rem;
}

.col .value {
    margin-top: .06rem;
    font-size: .14rem;
    font-weight: bold;
    line-height: .19rem;
}

.col .value img {
    width: .79rem;
    height: .79rem;
}

.row-1 {
    padding: .16rem .12rem;
    box-sizing: border-box;
}

.row-end {
    border-top: .01rem solid #D3D3D3;
    box-sizing: border-box;
    padding: .12rem;
}

.row-end .btn {
    height: .36rem;
    line-height: .36rem;
    background: #F4E3E2;
    border: .01rem solid #B3312A;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #B3312A;
}

.row-end .btn.disabled {
    color: #CCC;
    background: #F9F9F9;
    border: .01rem solid #CCC;
    font-weight: normal;
}

.col.more {
    margin: .1rem 0 0;
    width: 100%;
    text-align: center;
}

.col.more span {
    cursor: pointer;
    padding:.05rem .24rem .05rem .12rem;
    background: url("../../img/more.png") no-repeat right center;
    color: #999999;
    line-height: 20px;
}

.van-popup.popup-search {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-top: .12rem;
}
.van-cell{
    padding: 0;
    display: block;
    height: .89rem;
}

.van-cell:after{
    display: none!important;
}

.van-cell input{
    padding: .1rem;
    line-height: .2rem;
    background: #F7F7F7;
    border: .01rem solid #DBDBDB;
    border-radius: 0;
}
.van-cell--required .van-field__label {
    padding-left: .2rem;
}
.van-field__label {
    width: 100%;
    padding: .07rem 0 .07rem 0;
    font-size: .12rem;
    line-height: .12rem;
    box-sizing: border-box;
}
.van-cell__value {
    width: 100%;
}

.tips-header {
    padding: .1rem 0 .06rem;
    font-size: 16px;
    font-weight: bold;
}
.tips {
    line-height: .19rem;
}
