body {
    background: #F4F4F4;
}

.van-cell {
    padding: 0;
    display: block;
    height: .89rem;
    background-color: #F4F4F4;
}

.van-cell:after {
    display: none !important;
}

button {
    border-radius: 0;
}

.van-cell input {
    padding: .1rem;
    line-height: .2rem;
    border: .01rem solid #DBDBDB;
    border-radius: 0;
    background-color: #FFF;
}

.van-field__label {
    width: 100%;
    padding: .07rem 0 .07rem 0;
    font-size: .12rem;
    line-height: .12rem;
    box-sizing: border-box;
}

.van-cell__value {
    width: 100%;
}
