.header {
  width: 100%;
  height: 2.3467rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/header-bg.png);
  background-size: 100% 0.9067rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.header img {
  width: 1.7333rem;
  height: 1.6667rem;
}

#vr {
  width: 100%;
  height: calc(100% - 2.3467rem);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff8f0;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.4267rem 0.64rem;
  box-sizing: border-box;
}

.container .container-head {
  flex: none;
  width: 100%;
  padding-bottom: 0.2133rem;
  display: flex;
  flex-direction: column;
}

.container .container-head .head-title {
  font-size: 0.48rem;
  font-weight: bold;
  color: #381918;
  display: flex;
  align-items: center;
}

.container .container-head .head-icon {
  margin-left: 0.16rem;
  width: 0.6933rem;
  height: 0.32rem;
}

.container .container-body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.container .container-body .list-item {
  width: 100%;
  height: 3.9467rem;
  border-radius: 0.2667rem;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.container .container-body .list-item .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(56, 25, 24, 0.8), rgba(255, 255, 255, 0.4));
}

.container .container-body .list-item .list-item-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.5867rem;
  box-sizing: border-box;
}

.container .container-body .list-item .list-item-info .list-item-title {
  width: 5rem;
  height: 1rem;
  font-size: 0.3467rem;
  color: #fff;
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container .container-body .list-item .list-item-info .list-item-view {
  width: 1.76rem;
  height: 0.5067rem;
  padding: 0.1067rem 0.2133rem;
  line-height: 0.5067rem;
  margin-top: 0.5067rem;
  font-size: 0.2667rem;
  color: #fff;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}

.container .container-body .list-item .list-item-info .list-item-view::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.1867rem;
  margin-top: -0.1067rem;
  width: 0.1067rem;
  height: 0.2133rem;
  background-image: url(../../img/vr-right.png);
  background-size: 0.1067rem 0.2133rem;
  background-repeat: no-repeat;
}

.container .container-body .list-item img {
  height: 100%;
}

.container .container-body .list-item:not(:first-child) {
  margin-top: 0.5067rem;
}

.container ::-webkit-scrollbar {
  width: 0px;
  display: none;
}
